* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #141414;
  color: white;
  font-family: system-ui, Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  padding: 20px 40px;
  font-size: 24px;
  font-weight: bold;
  color: #e50914;
}

/* HERO */
.hero {
  height: 60vh;
  background: linear-gradient(to top, #141414, transparent),
    url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 40px;
}

.hero-content {
  max-width: 500px;
}

.hero-content h2 {
  font-size: 40px;
}

.hero-content p {
  margin: 15px 0;
  opacity: 0.8;
}

.hero-content button {
  background: #e50914;
  border: none;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

/* CONTENT */
.content {
  padding: 30px;
}

section h3 {
  margin-bottom: 15px;
}

/* ROWS */
.row {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.video {
  min-width: 250px;
  transition: transform 0.2s;
}

.video:hover {
  transform: scale(1.08);
}

.video iframe {
  width: 100%;
  height: 140px;
  border-radius: 8px;
  border: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  color: #777;
  font-size: 14px;
}
/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  position: relative;
  width: 80%;
  max-width: 900px;
}

.modal-content iframe {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  border: none;
}

#closeModal {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 40px;
  cursor: pointer;
  color: white;
}
.heart {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 22px;
  cursor: pointer;
  color: white;
  text-shadow: 0 0 5px black;
}

.video {
  position: relative;
}
